@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#presentation-container {
    /* 24464c */
    background-color: #326169;
    /* font-family: "Spectral", serif; */
}
.estudio-left h2 {
    font-family: "Merriweather", serif;
}

.strong-JB {
    /* background-color: rgb(250, 200, 50); */
    color: black;
    padding: 5px 30px;

    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
}
.strong-JB {
    cursor: pointer;
}

@media (max-width: 480px) {
    .strong-JB {
        padding-right: 1.5em;
        font-size: 0.9em;
    }
  }

#p-nombres-abogadas {
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    box-shadow: 2px 3px 12px rgba(0,0,0,0.7);
}

@media (width: 1024px) and (height: 600px) {
    .estudio-right  {
        height: 450px;
        width: fit-content;
        gap: 80px;
        margin: auto;
    }
}

@media (min-width: 641px) and (max-width: 767) {
    .estudio-right .hei {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .estudio-left p {
        font-size: 5vw;
    }
}