
.scrolled {
  background-color: rgb(0, 55, 65, 1);
}

header h1 {
  font-family: "Tienne", serif;
}

.btn{
  /* color:#cccccc; */
  /* background:rgba(0, 0, 0, 0.5); */
  /* padding:10px 20px; */
  /* font-size:12px; */
  text-decoration:none;
  /* letter-spacing:2px; */
  text-transform: uppercase;
  user-select: none;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px #000;
  color:#1b1b1b;
}

#a-direccion {
  font-size: 12px;
}


  
@media (min-width: 481px) {
  
  header {
    padding: 10px 100px 0 100px;
  }

}
